#container {
    display: none;  /* 初期は非表示にする */
    position: absolute; 
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.15;
  }
  #popup {
    display: none;  /* 初期は非表示にする */
    position: absolute; 
    left: 50%;
    top: 50%;
    width: 200px;
    height: 100px;
    margin-left: -100px; /* 幅の半分の数値を指定 */
    margin-top: -50px; /* 高さの半分の数値を指定 */
    background-color: white;
    text-align: center;
    font-size:12px;
  }