<!DOCTYPE html>
<html lang="en">
<head>
<title>提出済み一覧</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="Navbar">
    <a class="navbar-brand" href="index.html">トップページ</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <a class="navbar-brand" href="index.html">提出済み一覧</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <a class="navbar-brand" href="index.html">返信一覧</a>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <a class="navbar-brand" href="index.html">新規作成</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  </div><!-- /.collapse -->
</nav>



<div class="container">
  <h2>提出済み一覧</h2>
  <p></p>
  <table class="table table-hover">
    <thead class="bg-primary text-white">
      <tr>
        <th>日時</th>
        <th>提出者</th>
        <th>既読</th>
        <th>要返信</th>
        <th>修正時間</th>
      </tr>
    </thead>
    <tbody>      
     <tr>
     <td>2020/9/8 18:00</td>
     <td>y-ogawa</td>
     <td></td>
     <td></td>
     <td></td>
    </tr>
     <tr>
     <td>2020/9/8 18:02</td>
     <td>s-tanaka</td>
     <td></td>
     <td>※※※</td>
     <td></td>
    </tr> 
    <tr>
     <td>2020/9/7 18:20</td>
     <td>s-tanaka</td>
     <td>●</td>
     <td>●</td>
     <td></td>
    </tr>
     <tr>
     <td>2020/9/7 18:00</td>
     <td>y-ogawa</td>
     <td>●</td>
     <td></td>
     <td>2020/9/8 10:21</td>
    </tr>            
    </tbody>

  </table>
</div>

</body>
</html>
